#* text=auto

*.js text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.json text eol=lf

*text=auto

*.js eol=lf
*.jsx eol=lf
*.ts eol=lf
*.tsx eol=lf
*.json eol=lf
*.css eol=lf
*.scss eol=lf
*.html eol=lf
*.svg eol=lf
*.lock eol=lf
*.md eol=lf